@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-normal{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style start */
.primary-text{
    font-size: 3rem;
    font-weight: 700;
    color: #000000;
}

.secondary-text{
    font-size: 1.875rem;
    font-weight: 700;
    color: #202020;
    margin-top: 36px;
}

.third-text{
    font-size: 1.25rem;
    font-weight: 500;
    color: #808080;
    margin-top: 38px;
    margin-bottom: 38px;
}

.standard-content{
    text-align: center;
    padding: 60px 45px;
    border-radius: 20px;
    margin-top: 30px;
}

.fourth-text{
    font-size: 1.125rem;
    font-weight: 700;
    color: #000000;
}

/* header style start */

/* nav style */
nav{
    max-width: 1400px;
    margin: 25px auto;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-content{
    display: flex;
    align-items: center;
    gap: 11px;
}
.nav-content>h4{
    font-size: 2rem;
    font-weight: 700;
    color: black;
}
.nav-content>ul{
    display: flex;
    gap: 32px;
}
.nav-content >ul li{
    list-style: none;
}
.nav-content >ul li  a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}
.nav-content >ul li .orange{
    color: orange;
}
.nav-content >ul li .sky-blue{
    color: skyblue;
}
.nav-content >ul li .aquea{
    color: #05D4DF;
}
.nav-content >ul li .light-blue{
    color: #5D58EF;
}
.nav-btn{
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    background-color: orange;
    padding: 10px 60px;
    border-radius: 13px;
    border: none;
    cursor: pointer;
}
#assets{
    display: none;
}

/* banner section style */
.banner{
    max-width: 1400px;
    margin: 0 auto;
}
.banner-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content > h1{
    font-size: 3.75rem;
    font-weight: 700;
    max-width: 640px;
}
.empower{
    color: orange;
}
.students{
    color: black
}
.vision{
    color: skyblue;
}
.banner-content > p{
    font-size: 1.25rem;
    max-width: 640px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.banner-content > button{
    color: white;
    background-color: black;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 10px 50px;
    border-radius: 12px;
    cursor: pointer;
}
.banner-content > img{
    width: 600px;
    height: 700px;
}
/* main style start */

.standard{
    background-image: url(../assets/bg.png);
}
.standard-title{
    max-width: 490px;
    margin: 0px auto;
    margin-top: 130px;
}
.standard-container{
    max-width: 1400px;
    margin:50px auto;
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.standard-description1{
    border: 1px solid rgba(213, 241, 255, 0.432);
    background: linear-gradient(
        360deg,
        rgb(255, 255, 255) 60.5%,
        rgb(213, 241, 255)100%
        )
}
.standard-description2{
    border: 1px solid rgba(243, 236, 199, 0.445);
    background: linear-gradient(
        360deg,
        rgb(255, 255, 255) 60.5%,
        rgb(243, 236, 199)100%
        )
}

.standard-description3{
    border: 1px solid rgba(232, 221, 250, 0.425);
    background: linear-gradient(
        360deg,
        rgb(255, 255, 255) 60.5%,
        rgb(229, 213, 255)100%
        )
}
.standard-content>.read-more1{
    color: #64C8FF;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}
.standard-content>.read-more2{
    color: #F0AA00;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;   
}
.standard-content>.read-more3{
    color: #8700FF;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;   
}
.arrow-image-container{
    margin-top: 100px;
    text-align: center;
    cursor: pointer;
}
.arrow-image-container>img{
    width: 80px;
    height: 80px;
}

/* our stories section style start */
.our-stories{   
    margin-top: 80px;
    background: linear-gradient(
        180deg,
        rgb(255, 255, 255) 2.5%,
        rgba(231, 189, 99, 0.808)100%
        )     
}   

.our-stories-container{
    height: 1000px;
    background-image: url(../assets/bg.png);
}
.our-stories-container .my-stories{
    text-align: center;
    justify-content: center;
}
.card-container{
    display: flex;
    max-width: 1400px;
    margin: 50px auto;
    gap: 20px;
    
}
.card-content2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.card-content2>.card-content-description>img{
    width: 100%;
    border-radius: 16px 16px 0px 0px;
}
.card-content2>.card-content-description>.november2>button{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    background-color: #95B226;
    border-radius: 45px;
    border: none;
    padding: 10px 20px;
    margin-bottom: 22px;
}
.card-content2>.card-content-description>.november2{
    padding: 0px 40px 30px 50px;
}
.card-content1{
    background-color: #FFFFFF;
    max-width: 540px;
    border-radius: 16px;
}
.card-content1>img{
    width: 100%;
    height: 450px;
    background-size: contain;
    border-radius: 16px 16px 0px 0px;
}
.card-content1 .november1{
    padding: 0px 45px 45px 45px;
}
.card-content1>.november1>button{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #3CD8E8;
    padding: 15px 20px;
    border-radius: 45px;
    border: none;
    margin-bottom: 35px;
    
}
.card-content1>.november1>h5{
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
    margin-bottom: 50px;
}
.card-content1>.november1>p{
    font-size: 1.125rem;
    font-weight: 500;
    color: #666666;
}
.card-content-description{
    background-color: #FFFFFF;
    border-radius: 16px;
}
.card-container .class-btn{
    justify-content: center;
    align-items: center;
}

 #view-all{
    /* font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: black;
    border-radius: 12px;
    padding: 12px 60px;
    border: none; */
    border: 2px solid red;
    width: 200px;
    justify-content: center;
    margin: 10px auto;
}

/* footer style start */

/* responsive media query */
@media screen and (max-width: 576px) {
    nav, .banner{
        margin: 20px;
    }
    .nav-btn,
    .nav-content>ul,
    .nav-content>h4{
        display: none;
    }
    nav{
        background-image: url(../assets/doted-removebg-preview.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: right;
    }
    #hr-line{
        border: 1px solid gold;
        width: 100%;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-content{
        text-align: center;
        
    }
    .banner-content > p,
    .banner-content > h1
    {
        width: 100%;
    }
    .banner-content > img{
        width: 100%;
        height: 100%;
    }

    .standard{
        margin: 20px;
    }
    .standard-title{
        width: 100%;
        margin-top: 90px;
        text-align: center;
    }
    .standard-container{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 5px;
    }

    .arrow-image-container{
        display: none;
    }
}